<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="top-left">
    <div class="navbar-header">
    	<a class="navbar-brand hidden" href="index.html"><img src="../../images/logo2.png" alt="Logo"></a>
        <a id="menuToggle" class="menutoggle" onclick="showHideMenu();"><i class="fa fa-bars"></i></a>
        <a class="navbar-brand" href="index.html"><img src="../../images/logo.png" alt="Logo"></a>
    </div>
</div>
<!--  / logo - menu-->

<div class="top-right">
    <div class="header-menu">
        <!--  Sesión-->
        <div class="user-area dropdown float-right">
            <a href="#" class="dropdown-toggle active " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         		Nombre de usuario
            </a>
            <div class="user-menu dropdown-menu">    
                <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Cerrar Sesión</a>
            </div>
        </div>
        <!--  / Sesión -->
    </div>
</div>